<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- hibernate 與 MySQL 溝通之介面實作 -->
    <bean id="carDao" class="dao.CarDaoImpl" />

    <!-- carAction 負責查詢的功能 -->
    <bean id="carAction" class="action.CarAction">
        <property name="carDao" ref="carDao" />
    </bean>

    <!-- carSaveAction 負責儲存的功能 -->
    <bean id="carSaveAction" class="action.CarSaveAction">
        <property name="carDao" ref="carDao" />
    </bean>
</beans>